# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
.next
out
dist
build

# Logs
*.log

# Environment files
.env
.env.*
!.env.example

# Git
.git

# Other
.DS_Store
*.tsbuildinfo
